# ~/stacks/ghost/.env
GHOST_DB_PASSWORD=password
GHOST_DB_ROOT_PASSWORD=root_password

# Optional – only if email delivery is desired
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=admin@example.com
MAIL_PASS=app_passwort_hier