HOMEPAGE_ALLOWED_HOSTS=homepage.home
HOMEPAGE_VAR_PIHOLE_API_KEY=dein-pihole-api-key
HOMEPAGE_VAR_GITEA_TOKEN=dein-gitea-token
HOMEPAGE_VAR_NC_USER=dein-nextcloud-user
HOMEPAGE_VAR_NC_PASSWORD=dein-nextcloud-app-password
HOMEPAGE_VAR_GRAFANA_USER=admin
HOMEPAGE_VAR_GRAFANA_PASSWORD=dein-grafana-password
HOMEPAGE_VAR_OPENWEATHERMAP_API_KEY=dein-key