
# -- Grafana ----------------------------------------------------------------------

GF_SECURITY_ADMIN_USER=user_name
GF_SECURITY_ADMIN_PASSWORD=password

# -- Nextcloud  -------------------------------------------------------------------

NEXTCLOUD_USERNAME=user_name
NEXTCLOUD_PASSWORD=api_password

# -- Netatmo ----------------------------------------------------------------------

NETATMO_CLIENT_ID=client_id
NETATMO_CLIENT_SECRET=api_secrect

# -- Fritz!Box --------------------------------------------------------------------

FRITZ_HOSTNAME=fritz.box
FRITZ_USERNAME=user_name
FRITZ_PASSWORD=password
FRITZ_LISTEN_ADDRESS=0.0.0.0

# -- Tado ------------------------------------------------------------------------

TADO_TOKEN_PASSPHRASE=password

# --Pihole ------------------------------------------------------------------------

PIHOLE_HOSTNAME=192.168.178.XX
PIHOLE_PASSWORD=password
PORT=9617

