
# -- Nextcloud  -------------------------------------------------------------------

MYSQL_PASSWORD=password
NEXTCLOUD_TRUSTED_DOMAINS=domain
NEXTCLOUD_ADMIN_USER=user_name
NEXTCLOUD_ADMIN_PASSWORD=password
MYSQL_ROOT_PASSWORD=password
